// Specific CSS for your home-page
.home-container {
  margin: 70px auto;

}

.home-container.intro {
  text-align: center;
}

.home-features {
  border: 4px solid #ebcda8a1;
  border-radius: 4px;
  padding: 0;
}

.home-features .top-feature {
  // padding: 70px 70px 35px;
  // padding: 35px;
  background-color: #ebcda8a1;
}

.home-features .middle-feature {
  // padding: 35px;
  text-align: right;
  // order: 4px solid #ebcda8a1;
  // border-radius: 8px;
}

.home-features .bottom-feature {
  // padding: 70px 70px 35px;
  // padding: 35px;
  background-color: #ebcda8a1;
}

.home-feature {
  display: flex;
  align-items: center;
  position: relative;
  // padding: 35px 70px;
  padding: 70px;
}

.home-feature img {
  width: 320px;
  // height: 100px;
  // box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.home-feature .home-feature-text {
  flex-grow: 1;
}


.home-feature .card-img-2 {
  padding: 8px;
}

.home-feature .card-img-1, .home-feature .card-img-3 {
  margin-right: 48px;
}

.home-feature .card-img-2 {
  margin-left: 48px;
}
// .home-feature-bg {
//   position: absolute;
//   background-color: #ebcda8a1;
//   width: 100vw;
//   height: 110px;
//   z-index: -1;
// }
.home-reviews {
  margin-top: 70px ;

  padding: 40px 0;
  background-color: rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.2);

  h3 {
    text-align: center;
    opacity: .8;
    margin-bottom: 32px;
  }
}

.review-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 90vw;
  // margin: 0 auto;
}

.review-card {
  width: 200px;
  // margin: 0 32px;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  padding: 0 24px;
  text-align: center;
  opacity: .8;

  p {
    // opacity: .8;
    margin-top: 16px;
  }

  span {
    font-size: 20px;
  }
}

.review-card img {
  // width: 200px;
  height: 80px;
  margin: 0 auto;
  padding: 0 auto;
  filter: grayscale(1);
}

// .logo-billsplitter {
//   padding: 32px 40px 26px;
// }

// .logo-lewagon {
  // padding: 32px 56px 26px;
  // padding: 32px auto 26px;
// }

// .slick-arrow {
//   display: none;
// }
