.feedback-container {
  background-color: white;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
  border-radius: 12px;
  margin-top: 4px;
  margin-bottom: 16px;
  padding: 0 24px;

  h1 {
    padding: 24px 0;
    margin: 0;
  }

}

.feedback-header {
  text-align: center;
}

.feedback-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 32px 16px;
  margin-bottom: 16px;
  background: white;
}

.user_answer_description {
  flex-grow: 1;
  margin-right: 32px;

  .feedback-status {
    // background-color: rgb(219, 51, 51);
    font-size: 12px;
    background-color: #ff5329;
    padding: 4px 8px;
    margin-left: 8px;
    border-radius: 25px;
  }

  .feedback-status-resolved {
    // background-color: rgb(219, 51, 51);
    font-size: 12px;
    background-color: #c6ffc1;
    padding: 4px 8px;
    margin-left: 8px;
    border-radius: 25px;
  }
}

.action_steps {
  width: 400px;
  span {
    background: white!important;
  }
}

#resolved-feedback-show {
  margin-bottom: 16px;
}
