.user-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.user-card-info {
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.user-card-info h1 {
  font-size: 20px;
}

.user-card-info h2 {
  display: flex;
  font-size: 13px;
  justify-content: flex-end;
  opacity: .6;
}

.user-card-top {
  background-color: #12A1E7;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.user-card-bottom {
  margin: 10px;
}

.user-card-top {
  align-items: flex-start;
  font-size: 20px;
}

.user-search {
  margin-bottom: 15px;
}

.user-card-info img {
  border-radius: 50%;
  height: 100px;

  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  margin: 10px auto;
  user-select: none;
  cursor: pointer;
}

.user-card-info img:hover {
  // opacity: 0.8;
}
.user-card-info img:active {
  opacity: 0.5;
  margin-top: 14px;
  margin-bottom: 6px;
  box-shadow: 0 2px 6px rgba(0,2,2,0.2);
}

.user-image {
  border-radius: 50%;
  height: 200px;
  margin-top: 10px;
}

.user-form-control {
  width: 70%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  padding: 6px;
  border-radius: 4px;
  margin-right: 2px;
}

.user-info {
  border-bottom-style: groove;
}

.user-info, h1, h2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.user-goal {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
