.user-search {
  margin-top: 15px;
  margin-bottom: 15px;
}

.user-count {
  display: flex;
  margin-bottom: 15px;
}

.user-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.user-card-info {
  color: black;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
  transition: all .3s;
}

.user-card-info:hover {
  transform: scale(1.02);
}

.user-card-info:active {
  opacity: 0.5;
  margin-top: 12px;
  // margin-bottom: 6px;
}

.user-card-info h3 {
  font-size: 20px;
  text-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.user-card-info p {
  // display: flex;
  font-size: 13px;
  // justify-content: flex-end;
  opacity: .6;
}

.user-card-top {
  position: relative;
  height: 140px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  // align-items: flex-end;
  align-items: flex-start;
  font-size: 20px;
  // background-color: rgb(224, 224, 224);
  overflow: hidden;
}

.user-card-background {
  position: absolute;
  top: 0;
  left: -10%;
  width: 120%;
  height: 70%;
  background-color: #ebcda8a1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.user-card-top img {
  position: absolute;
  top: 25px;
  left: calc(50% - 50px);

  // border: 1px solid white;
  border-radius: 50%;
  width: 100px;
  height: 100px;

  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  // margin: 10px auto;
  // cursor: pointer;

  z-index: 10;
}

.user-card-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 24px 16px;

}

.user-card-score {
  background-color: #f3b72dd1;
  margin-top: 18px;
  margin-bottom: 10px;
  padding: 10px 18px;
  border-radius: 30px;
  text-align: center;
  p {
    opacity: 1;
  }
}

.user-image {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-top: 10px;
  box-shadow: 0 2px 6px rgba(0,2,2,0.2);
}

.user-form-control {
  width: 70%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  padding: 6px;
  border-radius: 4px;
  margin-right: 2px;
}

.user-info {
  border-bottom-style: groove;
}

.user-info, h1, h2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.user-goal {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.box26 {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #95ccff;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}
.box26 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #F2F2F2;
    color: #95ccff;
    font-weight: bold;
}
.box26 p {
    margin: 0;
    padding: 0;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .user-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .user-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .user-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .user-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .user-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
