<button type="button" class="btn btn-light edit-button" data-toggle="modal" data-target="#exampleModal">
  Edit
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Action Notes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for user_answer do |f| %>
          <%= f.input :action_step, label: "Action Notes", placeholder: user_answer.action_step %>
          <%= f.hidden_field :id, :value => user_answer.id %>
          <%= f.submit "Save changes", class: "btn btn-light" %>
        <% end %>
      </div>
    </div>
  </div>
</div>