<div style="display: flex;align-items: center;">
  <button type="button" class="btn btn-light edit-button" data-toggle="modal" data-target="#exampleModal">
  Edit
</button>
<%= link_to("https://calendar.google.com/calendar") do %>
    <i class="far fa-calendar-check"></i>
<% end %>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@user) do |f| %>
        <%= f.input :note, label: false %>
        <%= f.submit "Submit", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
