<%# <div class="container"> %>
  <div class="user-container">
    <div>
    <h1><%= @users.count %> <%=  "member".pluralize(@users.count).capitalize %></h1>

    <div class="user-search">
      <%= render 'shared/search' %>
    </div>

    <div class="user-count">
    </div>

    <div class="user-cards">
      <% @users.each do |user| %>
        <%= render 'user_card', user: user %>
      <% end %>
    </div>
    </div>
  </div>
<%# </div> %>
