<div class="container">
  <div class="user-container">
    <div>

    <div class="user-search">
      <%= render 'shared/search' %>
    </div>

    <div class="user-count">
      <p>There are <%= @users.count %> <%=  "member".pluralize(@users.count) %></p>
    </div>

    <div class="user-cards">
      <% @users.each do |user| %>
        <%= render 'user_card', user: user %>
      <% end %>
    </div>
    </div>
  </div>
</div>
