<div class="container">
  <div class="m-3">
    <div class="user-info border-bottom mb-3">
      <h1><strong><em><%= @user.name %></strong></em></h1>
      <h2><%= @user.role %></h2>
    </div>

    <%= image_tag User.find(@user.id).photo.attached? ? cl_image_path(User.find(@user.id).photo.key, width: 200, height: 200) : "https://que-akitsu.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png", class: "user-image" %></br>

    <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col">Agreed schedule</th>
          <th scope="col">Monday</th>
          <th scope="col">Tuesday</th>
          <th scope="col">Wednesday</th>
          <th scope="col">Thursday</th>
          <th scope="col">Friday</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">START TIME</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">BREAK TIME</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">END TIME</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
