<ul class="list-unstyled components sidebar-ul">
    <li class="active sidebar-li">
      <%# <a class="sidebar-a" href="#">DASHBOARD</a> %>
      <%= link_to "DASHBOARD", dashboard_path, class: "sidebar-a" %>
      <%# link_to 'Edit my profile', edit_user_path(current_user), class: "sidebar-a" %>
    </li>
    <%# <li class="active sidebar-li">
      <a class="sidebar-a dropdown-toggle" href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">As a Trainer</a> %>
      <%# <ul class="collapse list-unstyled sidebar-ul" id="homeSubmenu">
        <li class="sidebar-li">
          <a class="sidebar-a nested" href="#">Manage my Workouts</a>
        </li>
        <li class="sidebar-li">
          <a class="sidebar-a nested" href="#">Manage my Workouts</a> %>
          <%# link_to 'Create a Workout', new_workout_path, class: "sidebar-a nested" %>
        <%# </li>
      </ul> %>
    </li>
    <li class="sidebar-li">
      <%= link_to "YOUR TEAM", users_path, class: "sidebar-a" %>
      <%# <a class="sidebar-a" href="#">YOUR TEAM</a> %>
    </li>
    <li class="sidebar-li">
      <%= link_to "SURVEYS", surveys_path, class: "sidebar-a" %>
      <%# <a class="sidebar-a" href="#">SURVEYS</a> %>
    </li>
    <li class="sidebar-li">
      <a class="sidebar-a" href="#">MESSAGES</a>
    </li>
    <li class="sidebar-li">
      <a class="sidebar-a" href="#">KYOROBOT</a>
    </li>
  </ul>
