<div class="banner">
  <div class="banner-text">
    <h1>There's a better way to connect.</h1>
    <p>Keep your team engaged with Kyoro's powerful analytical tools.</p>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-flat" %>
    <%# <a class="btn btn-flat" href="#">Learn more</a> %>
  </div>
</div>
