<div class="banner">
  <video autoplay muted loop id="myVideo">
    <source src="<%= image_path "slack-video.mp4" %>" type="video/mp4">
  </video>
  <div class="banner-text">
    <h1>A better way to connect</h1>
    <p>Keep your team engaged with Kyoro's powerful analytical tools.</p>
    <% if !user_signed_in? %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
    <%# <a class="btn btn-flat" href="#">Learn more</a> %>
    <% else %>
       <%= link_to "Get started", dashboard_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
