<div class="banner">
  <div class="container">
    <h1>Keep Your Remote Teams Engaged</h1>
    <p>With the powerful analytical tools and Slack integration.</p>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-flat" %>
    <%# <a class="btn btn-flat" href="#">Learn more</a> %>
  </div>
</div>
