<div class="nested_fields">
  <%= f.input :content, label: "Question", input_html: { class: 'survey-form-inputs' } %>
  <%= f.input :category, label: "Question Category", collection: ['Pick a category', 'mood', 'support', 'motivation', 'personal_goals'], default: "Pick a category", input_html: { class: 'survey-form-inputs' } %>
  <%#= f.hidden_field answer: 1 %>
  <!-- <div id="tasks">
    <div class="question-group">
      <%#= f.simple_fields_for :answers do |answer| %>
        <%#= render 'answer_fields', :f => answer %>
      <%# end %>
    </div>
    <div class="links">
      <%#= link_to_add_association 'Add an Answer', f, :answers %>
    </div>
  </div> -->
</div>