.banner {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)), url(https://cdn.pixabay.com/photo/2018/03/10/12/00/paper-3213924_1280.jpg);
  // transform: scaleY(-1);
  // transform: scaleX(-1);
  background-size: cover;
  background-position: center;
  // background-attachment: fixed;
  padding: 140px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-text {
  // transform: scaleY(-1);
  // transform: scaleX(-1);
  width: 75%;
  .btn {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
}

.banner-text h1, .banner-text p {
  color: white;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.2);

}

.banner-text h1 {
  font-size: 48px;
}

.banner-text p {
  font-size: 22px;
  opacity: .7;
}

.banner-text .btn {
  margin-top: 24px;
}
