.banner {
  position: relative;
  // background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)), url(https://cdn.pixabay.com/photo/2018/03/10/12/00/paper-3213924_1280.jpg);
  // background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)), url(/../kyoro/app/assets/images/bg-video.mp4);
  background: rgba(0, 0, 0, 0.6);
  // transform: scaleY(-1);
  // transform: scaleX(-1);
  background-size: cover;
  background-position: center;
  // background-attachment: fixed;
  padding: 140px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  height: 500px;

  .btn {
    font-size: 24px;
  }
}

#myVideo {
  position: absolute;
  padding: 0;
  margin: 0;
  top: -15%;
  // bottom: -20%;
  left: 0;
  width: 100%;
  // height: 100%;
  object-fit: cover;
  // object-position: bottom;
  z-index: -1;

}

.banner-text {
  // transform: scaleY(-1);
  // transform: scaleX(-1);
  width: 75%;
  .btn {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
}

.banner-text h1, .banner-text p {
  color: white;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.4);

}

.banner-text h1 {
  font-size: 56px;
}

.banner-text p {
  font-size: 28px;
  opacity: .9;
}

.banner-text .btn {
  margin-top: 24px;
}
