.survey-show-charts {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.survey-show-chart {
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
  margin: 0 4px;
  padding: 12px;

}


