.content-wrapper {
  display: flex;
  // width: 97vw;
  width: 100vw;
  // height: 80vh;
  // margin: 6px auto;
  // background-color: #12A1E7;
  // background-color: #F2F2F2;
  // border-radius: 25px;
  // border-radius: 15px;
  // box-shadow: 3px 3px 10px rgba(0,0,0,.4);
  height: calc(100vh - 130px);
}


.view-wrapper {
  flex-grow: 1;
  // background-color: #F2F2F2;
  // border-radius: 25px;
  // border-radius: 15px;
  overflow: scroll;
  padding: 0 32px;
}
