.navbar {
  justify-content: space-between;
  // background: white;
  background: transparent;
  height: 70px;
  // padding-top: 0;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar .navbar-collapse {
  flex-grow: 0;
  // a {
  //   color: rgba(0, 0, 0, 0.6);

  // }
}

.navbar .navbar-brand img {
  width: 40px;
  height: 40px;
}

p {
  margin: 0;
}

.navbar-logo {
  display: flex;
  align-items: center;
  // font-size: 32px;
  color: #12A1E7;

  .navbar-brand {
    margin: 0;
    // padding: 8px;
  }

  p {
    font-family: 'Cinzel', serif;
    font-size: 36px;
    padding: 0 8px;
  }
}

a.nav-link {
  // color: red!important;
  // padding: 0 8px;
  font-size: 18px!important;
}

.navbar-white {
  // background-color: #fff;
  background-color: #f9f9f9;
}
