// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/survey";
@import "components/layout";
@import "components/sidebar";
@import "components/loading-bar";
@import "components/footer";
@import "pages/index";

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  // background-color: white;
  // background: linear-gradient(#fff, #F2F2F2 10%, #F2F2F2 90%, #fff);
  background: linear-gradient(#fff, #fff 9%, #f4f4f4 13%, #f4f4f4 87%, #fff 91%, #fff), ;
}

a {
  text-decoration: none;
}
