// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/survey";
@import "components/layout";
@import "components/sidebar";
@import "pages/index";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
}
